$horizontal-padding-xsm: 50px;
$horizontal-padding-sm: 100px;
$horizontal-padding-md: 150px;
$horizontal-padding-lg: 200px;
$horizontal-padding-xlg: 250px;

$dark: #242536;
$dark-grey: #4c4d5e;
$medium-grey: #92929d;
$grey: #e4e4e4;
$light-grey: #f6f6f6;

$blue: #282b57;

$dark-red: #c62a2a;
$red: #d73b3b;
