@import "../../styles/_variables.scss";
@import "../../styles/_breakpoints.scss";

.menu {
  padding: $horizontal-padding-xsm $horizontal-padding-xlg;

  @media (max-width: $desktop_xsm) {
    padding: $horizontal-padding-xsm $horizontal-padding-sm;
  }

  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: $horizontal-padding-xsm $horizontal-padding-md;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: $horizontal-padding-xsm $horizontal-padding-lg;
  }

  @media (max-width: $mobile) {
    padding: $horizontal-padding-xsm $horizontal-padding-xsm;
  }

  &__title {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  &__filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 30px;

    width: 100%;
  }
}
